/* medium devices (tablets, 768px and up*/
@media (min-width: 768px) and (max-width: 991.98px) {
    
    /* common */
    h1{
        font-size: 50px;
    }
    h3{
        font-size: 22px;
    }

    /* header */
    .menu{
        text-align: right;
    }
    .menu ul li a{
        padding: 0 0 0 0 !important;
    }
    .header-content{
        margin-top: 80px;
    }
    .header-content h4{
        font-size: 25px;
    }
    .header-content h1{
        font-size: 50px;
        padding: 10px 0 40px 0;
    }
    .btn-custom{
        font-size: 18px;
        border: 2px solid #ffffff;
        padding: 8px 30px;
    }  
   
    /* clients */
    .clients{
        padding: 80px 0 !important;
    }
    .clients-content{
        padding: 20px 40px !important;
    }
    .clients-content1{
        padding: 20px 40px !important;
    }
    .circle{
        width: 190px;
        height: 190px;
    }
    .cp-1{
        font-size: 23px;
    }
    .cp-2{
        font-size: 18px;
    }
    

    /* development*/
     .development{
        padding: 70px 0;
    }
        
    /* branding */
    .branding{
        padding: 70px 0;
    }

    /* features */
    .features{
        padding: 70px 0;
    }
    .icon {
        margin-left: 0;
    }

    /* clients */
    .clients{
        padding: 70px 0;
    }

    /* brand logo */
    .brand{
        padding: 50px 0;
    }

    /* portfolio */
    .portfolio{
        padding: 80px 0 !important;
    }
    .portfolio-circle{
        width: 190px;
        height: 190px;
        border: 6px solid #ffffff;
    }
    .portfolio-circle-mt{
        margin-top: 55px !important;
    }
    .portfolio-content-mt{
        margin-top: 30px !important;
    }
    
    /* contact with footer */
    .contact{
        padding: 80px 0 17px;
    }
    /* contact form */
    .form-custom{
        padding: 18px 0 22px 12px;
    }   
    .contact-mt-custom{
        margin-top: 23px;
    }
    .contact-mb-custom{
        margin-bottom: 10px;
    }
    .hr-custom{
        margin: 60px 0 22px 0;
    }

    /* footer */
    /* .footer{
        padding: 20px 0;
    }
    .footer-content p{
        padding: 20px 0 0 0;
    } */
        
    

    
    


}	